.box {
    text-align: center;
}

.numbox {
    height: 15rem;
    width: 50rem;
    box-sizing: border-box;
    border: solid;
    margin: auto;
    display: flex;
    justify-content: center;

}

.ball {
    border-radius: 50%;
    margin: 0.5rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
}

.bnt {
    margin-top: 2rem;
}

.ball-container {
    justify-content: center;
    display: flex;
}

.ct {
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

}