section {
    height: 1000px;
}


.progress_wap {
    display: flex;
    width: auto;
    margin: 20px 0;
    border-radius: 5px;
    height: 26px;
    /* border: 1px solid #3498db; */
    position: relative;
    /* box-sizing: border-box; */
}

.bar_frame {
    width: 0;
    background: linear-gradient(135deg, rgba(248, 168, 20, 0.704) 2%, rgba(249, 216, 140, 0.641) 98%);
    border-radius: 5px;
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: linear-gradient(135deg, #f8aa14 2%, #f9d98c 98%);
    border-radius: 5px;
    height: 23px;
}

.progress_wap span {
    /* position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    line-height: 24px; */
}