{% extends 'base.html'%}
{% block content %}
{% load static %}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <div class="container">

  <h1 class='text-center pt-5 mb-3'>Create</h1>
  <form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form movie_form %}

    {% comment %} {{ movie_form.as_p }} {% endcomment %}
   <div class='d-flex justify-content-end'>
       <a class="btn btn-outline-primary mx-3" href="{% url 'movies:index' %}">Home</a>
       <input class="btn btn-outline-primary " type="submit" value='Submit'>
    </div>
</form>
</div>
{% endblock %}