<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <style>
      div {
        font-family: 'IM Fell English', serif;
      }

      @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Noto+Sans+KR:wght@300&display=swap');
    </style>

  </head>

  <body>
    <div class="container">

     
    {% comment %} nav {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-ligt bg-danger mb-3">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="{% url 'movies:index' %}"><img  src="{% static 'img/logo.png' %}" alt="" width='70px;' heigt='70px;' ></a>
        <a class="nav-link" href="{% url 'movies:index' %}">Home</a>
  </div>
</nav>
{% comment %} nav end {% endcomment %}
      {% if request.user.is_authenticated %}
        <div class='d-flex align-items-center justify-content-between pb-3'>
          <div>
            <a class=' text-dark' href="{% url 'accounts:detail' user.pk %}">
              <span>{{ request.user }}</span>
            </a>님 안녕하세요.
          </div>
          <div>
            <a class="btn btn-outline-danger me-3"  id='del'  data-bs-toggle="modal" data-bs-target="#exampleModal">회원탈퇴</a>

            <a class="btn btn-outline-danger " href="{% url 'accounts:logout' %}">로그아웃</a>
          </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">회원탈퇴</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                다시 생각해보세요 정말 탈퇴 할거에요..??
              </div>
              <div class="modal-footer">
                <a   href="{% url 'accounts:delete' %}" class="btn btn-primary">네!</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요!</button>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class='d-flex justify-content-end pb-3'>
          <a class="btn btn-outline-danger me-3" href="{% url 'accounts:signup' %}">회원가입</a>
          <a class="btn btn-outline-danger" href="{% url 'accounts:login' %}">로그인</a>
        </div>
      {% endif %}

      {% block content %}{% endblock %}
      <footer>
        footer
      </footer>
    </div>
 
  </body>

</html>