<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 추천</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1 class="pt-3 text-center">오늘 뭐 먹지?</h1>
        <button type="button" class="btn btn-outline-success" id="recommenu">다른 추천 메뉴</button>
        <span class="fw-bold "> {{ recom }}</span>

        <div class="mt-3 d-flex justify-content-center">
            <img src="{{ img }}" alt="" width="600px" height="400px">
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <script>
        const bnt = document.querySelector('#recommenu')
        bnt.addEventListener('click', function () {
            console.log('')
            window.location.reload()
        })
    </script>
</body>

</html>